.TopLine
{
width:100%;
height:7px;
cursor:hand;
	padding-top:0px; 
	margin-top:0px;
background-image: url(../../images/downbg.gif); 
}

.NoticeLine
{
	width:100%; 
	height:22px; 
	padding-top:0px; 
	margin-top:0px;
	background-image:url(../../images/topback.gif)
}


